<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content=""
	 />
  <script>
	 addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
  </script>
  <!-- Meta tags -->
  <!--stylesheets-->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--//style sheet end here-->
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<body>
  <div class="mid-class">
	 <div class="art-right-w3ls">
		<h2>Sign In and Sign Up</h2>
		<form id="login" >
		   <div class="main">
			  <div class="form-left-to-w3l">
				 <input type="text" id="loginName" name="name" placeholder="Name/Phone/Email"
						required="required">
			  </div>
			  <div class="form-left-to-w3l ">
				 <input type="password" id="loginPwd" name="password" placeholder="Password" required="required">
				 <div class="clear"></div>
			  </div>
		   </div>
		   <div class="left-side-forget">
			  <input type="checkbox" class="checked">
			  <span class="remenber-me">Remember me </span>
		   </div>
		   <div class="right-side-forget">
			  <a href="#" class="for">Forgot password...?</a>
		   </div>
		   <div class="clear"></div>
		   <div class="btnn">
			  <button type="button" name="btn" onclick="submitForm()">Sign In</button>
		   </div>
		</form>
		<div class="w3layouts_more-buttn">
		   <h3>Don't Have an account..?
			  <a href="#content1">Sign Up Here
			  </a>
		   </h3>
		</div>
		<!-- popup-->
		<div id="content1" class="popup-effect">
		   <div class="popup">
			  <!--login form-->
			  <div class="letter-w3ls">
				 <form id="register"  method="post">
					<div class="form-left-to-w3l">
					   <input type="text" id="registerUsername"  name="name" placeholder="Username"
							  required="required">
					</div>
					<div class="form-left-to-w3l">
					   <input type="text" id="registerCellphone" name="name" placeholder="Phone"
							  required="required">
					</div>
					<div class="form-left-to-w3l">
					   <input type="email"  id="registerEmail" name="email" placeholder="Email" required="required">
					</div>
					<div class="form-left-to-w3l">
					   <input type="password" id="registerPassword" name="password" placeholder="Password"
							  required="required">
					</div>
					<div class="form-left-to-w3l margin-zero">
					   <input type="password"   name="password" placeholder="Confirm Password"
							  required="required">
					</div>
					<div class="btnn">
					   <button type="button" onclick="registerFrom()">Sign Up</button>
					   <br>
					</div>
				 </form>
				 <div class="clear"></div>
			  </div>
			  <!--//login form-->
			  <a class="close" href="#">&times;</a>
		   </div>
		</div>
		<!-- //popup -->
	 </div>
	 <div class="art-left-w3ls">
		<h1 class="header-w3ls">
		   Gaze sign up & login Form
		</h1>
	 </div>
  </div>
  <footer class="bottem-wthree-footer">
	 <p>Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
  </footer>
	<script>
		$("#registerPassword").blur(function(){
			var password=$("#registerPassword").val().trim()
			//密码为八位及以上并且字母数字特殊字符三项都包括
			var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
			//密码为七位及以上并且字母、数字、特殊字符三项中有两项，强度是中等
			var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
			var enoughRegex = new RegExp("(?=.{6,}).*", "g");
			if (false == enoughRegex.test(password)) {
			} else if (strongRegex.test(password)) {
				$(".help-block").remove();
				$("#registerPassword").after('<lable class="help-block"><span class="qiang" style="color: green">密码强度强</span></lable>')
			} else if (mediumRegex.test(password)) {
				$(".help-block").remove();
				$("#registerPassword").after('<lable class="help-block" ><span class="zhong" style="color: orange">密码强度中</span></lable>')
			} else {
				$(".help-block").remove();
				$("#registerPassword").after('<lable class="help-block" ><span class="ruo" style="color: red">密码强度弱</span></lable>')
			}
			return true
		})
		function registerFrom(){
			var registerDate = {
				userName:$("#registerUsername").val(),
				cellphone:$("#registerCellphone").val(),
				email:$("#registerEmail").val(),
				password:$("#registerPassword").val()
			}
			$.ajax({
				url:"/user/register",
				type:"post",
				data:JSON.stringify(registerDate),
				dataType:"json",
				contentType:"application/json",
				success:function (json) {
					if(json.flag){
						alert(json.msg);
					}else{
						alert(json.msg);
					}
				}
			})
		}
		function submitForm(){
			var loginDate = {
				variableName:$("#loginName").val(),
				password:$("#loginPwd").val()
			}
			$.ajax({
				url:"/user/login",
				type:"post",
				data:JSON.stringify(loginDate),
				dataType:"json",
				contentType:"application/json",
				success:function (json) {
					if(json.flag){
						alert(json.msg);
						window.location.href="user/toMain"
					}else{
						alert(json.msg);
					}
				}
			})
		}
	</script>
</body>
</html>